
body {
  font-family: Arial, sans-serif;
  font-size: large;
  margin: 0;
  padding: 0;
  color:#f0f0f0;
  background-image: url('C:\Users\hp\OneDrive\Desktop\SMART_ATTENDANCE_FRONTEND\smart-attendance\src\components\smart_image(1).jpg');
}
/* Example for Home component */
.home-container {
  padding-top: 80px; /* Adjust as needed based on your navbar height */
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: x-large;
}
.attendance-container {
  margin-top: 40px; /* Adjust this margin as needed */
  padding: 20px;
  background-color: #f0f0f0;
}
.attendance-box {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.container-fluid {
  padding: 20px;
}

h3 {
  margin-top: 20px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  
}

button:hover {
  background-color: #0056b3;
}

